.create-txn.modal {
  overflow-y: scroll;

  width: 480px;
  height: 570px;

  padding: 28px;
}

.create-txn__cta.button {
  --button-bg: #6b46fe;
  --button-height: 50px;
  --button-width: 100%;

  margin-top: 10px;
  padding: 16px;

  border-radius: 4px;
}
